
.main {
    overflow: auto;
    background: #eee;
    padding: 20px;
    min-width: 500px;
    height: 500px;

}

.main, .middle, .left, .right {
    border: 1px solid #999;
    background-color: white;
}

.middle {
	padding: 20px;
	margin-left: 220px;
	margin-right: 140px;
	min-height: 300px;
}

.left {
	width: 160px;
	float: left;
	padding: 20px;
}

.right {
	width: 120px;
	float: right;	
}

.logo {
	height: 80px;
	width:80px;
	text-align: center;
	border: 1px solid #999;
	margin: 20px;
}

.logo1 {
	height: 80px;
	width:80px;
	text-align: center;
	border: 1px solid #999;
	float: left;
}